    <div class="max-container">
      <nav class="nav nav--footer">
        <ul class="list">
          <li class="list-item"><a href="t&c" class="link" aria-label="Terms and conditions">Terms and conditions</a></li>
          <li class="list-item"><a href="pop" class="link" aria-label="Privacy Policy">Privacy Policy</a></li>
        </ul>
      </nav>
      <p class="copyright">Copyright © 2024 Yeca Software Development Services</p>
    </div>