<div class="main">
    <section class="section-presentation">
      <h2 class="title">We are Yeca, we are the way</h2>
      <p class="text">
        In our software development company, we specialize in providing tailored technological solutions, ranging from web and mobile applications to desktop systems and enterprise solutions. 
      </p>
      <p class="text">
        Our team is committed to offering the best tools to optimize and transform your business, prioritizing quality, efficiency, and customer satisfaction.
      </p>
      <p class="text">
        We work collaboratively to deliver innovative and customized results, ensuring that every project meets expectations and takes your business to the next level.
      </p>
    </section>
    <article class="article-about-chatbot">
      <h2 class="title">About our WhatsApp Chatbot service</h2>
      <p class="text">
        Our WhatsApp Chatbot is designed to provide fast and efficient customer service.
      </p>
      <h3>What could be done through this service?</h3>
      <p class="text">
        Through this service, users can submit inquiries, report technical issues, or raise any concerns related to our products or services.
      </p>
      <h3>What will the chatbot do with this information?</h3>
      <p class="text">
        The bot collects all the provided information and automatically generates a ticket in our Jira task management system, ensuring proper follow-up and prompt resolution. 
      </p>
      <h3>Benefits of Our WhatsApp Chatbot Service</h3>
      <p class="text">
        This automated process ensures that each request is handled in an organized and efficient manner, improving the customer experience and optimizing internal support management.
      </p>
    </article>
  </div>