<div>
    <h2>Términos y Condiciones de Uso del Chatbot de WhatsApp</h2>
    <h3>1. Aceptación de los términos</h3>
    <p>Al utilizar nuestro chatbot de WhatsApp, aceptas cumplir con los siguientes Términos y Condiciones. Si no estás de acuerdo con alguna parte de estos términos, te recomendamos no utilizar el Servicio.</p>

    <h3>2. Descripción del Servicio</h3>
    <p>Nuestro chatbot de WhatsApp está diseñado para interactuar automáticamente con los usuarios a través de mensajes. El chatbot responderá a preguntas y consultas y proporcionará asistencia relacionada con la creación de tickets. Los mensajes enviados y recibidos a través del chatbot pueden estar sujetos a almacenamiento con fines de mejora y análisis del servicio.</p>

    <h3>3. Privacidad y datos personales</h3>
    <p>Al utilizar este Servicio, se pueden recopilar datos personales tales como tu número de teléfono, historial de mensajes y cualquier otra información que decidas proporcionar. Estos datos serán tratados de acuerdo con nuestra <a href="pop">[Política de Privacidad]</a> y no serán compartidos con terceros sin tu consentimiento, salvo en los casos permitidos por la ley.</p>

    <h3>4. Uso permitido</h3>
    <p>El uso del Servicio está limitado a los fines previstos, como la asistencia al usuario en la generación de tickets. No está permitido el uso del Servicio para:</p>
    <br>
    <p>Realizar actividades ilícitas, fraudulentas o malintencionadas.</p>
    <p>Distribuir contenido ofensivo, discriminatorio o inapropiado.</p>
    <p>Realizar spam, publicidad no solicitada o promover productos no autorizados.</p>

    <h3>5. Limitación de responsabilidad</h3>
    <p>El Servicio se ofrece "tal cual" y sin garantías de ningún tipo. No nos hacemos responsables por:</p>
    <br>
    <p>Errores o interrupciones en el funcionamiento del chatbot.</p>
    <p>Pérdida de datos o cualquier daño indirecto relacionado con el uso del Servicio.</p>
    <p>Información incorrecta o desactualizada proporcionada por el chatbot.</p>

    <h3>6. Modificación del Servicio</h3>
    <p>Nos reservamos el derecho de modificar o suspender el Servicio en cualquier momento, sin previo aviso. También podemos actualizar estos Términos y Condiciones en cualquier momento. Las modificaciones entrarán en vigor en el momento en que se publiquen.</p>

    <h3>7. Propiedad intelectual</h3>
    <p>Todos los derechos de propiedad intelectual relacionados con el chatbot, incluyendo software, marcas registradas y contenido, son propiedad de Yeca. El uso del Servicio no otorga ningún derecho sobre los mismos.</p>

    <h3>8. Contacto</h3>
    <p>Si tienes preguntas o dudas sobre estos Términos y Condiciones, puedes contactarnos en desarrolloyeca@gmail.com.</p>
</div>